In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.preprocessing as pp
import sklearn.model_selection as ms
import sklearn.ensemble as ens
import sklearn.metrics as metrics
import joblib
import xgboost as xgb

In [29]:
# Encoding categorical variables
video_data = pd.read_csv('Processed_Youtube_Data.csv')
categorical_cols = ['category', 'device', 'country']
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False, drop='first')
encoded_cols = ohe.fit_transform(video_data[categorical_cols])
encoded_df = pd.DataFrame(encoded_cols, columns=ohe.get_feature_names_out(categorical_cols))
video_data = pd.concat([video_data.drop(columns=categorical_cols), encoded_df], axis=1)
video_data.dtypes
# Feature engineering
video_data['Revenue_per_View'] = video_data['ad_revenue_usd']/video_data['views']
video_data['Watch_Time_per_View'] = video_data['watch_time_minutes']/video_data['views']
video_data.to_csv('Processed_Youtube_Data.csv', index=False)
video_data

,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,ad_revenue_usd,Year,Month,Day,...,category_Music,category_Tech,device_Mobile,device_TV,device_Tablet,country_CA,country_DE,country_IN,country_UK,country_US
0,9936,1221,320,26497.21,2.86,228086,203.18,2024,9,24,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,10017,642,346,15209.75,23.74,736015,140.88,2024,9,22,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2,10097,1979,187,57332.66,26.20,240534,360.13,2024,11,21,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,10034,1191,242,31334.52,11.77,434482,224.64,2025,1,28,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,9889,1858,477,15665.67,6.64,42030,165.51,2025,4,28,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,9853,1673,147,42075.70,25.49,210818,280.99,2024,12,14,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
119996,10128,1709,63,57563.70,16.23,878860,354.61,2024,7,13,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
119997,10267,700,274,27549.71,23.82,576756,203.64,2024,6,10,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
119998,10240,1616,106,56967.38,7.75,585138,351.53,2024,12,22,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
119999,9931,770,274,38466.84,27.31,517587,253.84,2024,6,25,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [32]:
# Model Building
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.preprocessing as pp
import sklearn.model_selection as ms
import sklearn.ensemble as ens
import sklearn.metrics as metrics
import joblib
import xgboost as xgb

# --- IGNORE ---
video_data = pd.read_csv('Processed_Youtube_Data.csv')
X = video_data.drop(columns=['ad_revenue_usd'])
y = video_data['ad_revenue_usd']
X_train, X_test, y_train, y_test = ms.train_test_split(X, y, test_size=0.2, random_state=42)
model = xgb.XGBRegressor(objective='reg:squarederror', n_estimators=100, learning_rate=0.1, max_depth=6, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = metrics.mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = metrics.r2_score(y_test, y_pred)
print(f'RMSE: {rmse}, R2: {r2}')
joblib.dump(model, 'youtube_revenue_model.pkl')

RMSE: 0.3335620472732888, R2: 0.9999709606245755

['youtube_revenue_model.pkl']

In [33]:
print(X_train.shape, X_test.shape)

(96000, 28) (24000, 28)

In [37]:
video_data['revenue_per_view'] = video_data['ad_revenue_usd'] / video_data['views']  # ❌ uses target in features
video_data

,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,ad_revenue_usd,Year,Month,Day,...,category_Tech,device_Mobile,device_TV,device_Tablet,country_CA,country_DE,country_IN,country_UK,country_US,revenue_per_view
0,9936,1221,320,26497.21,2.86,228086,203.18,2024,9,24,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.020449
1,10017,642,346,15209.75,23.74,736015,140.88,2024,9,22,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.014064
2,10097,1979,187,57332.66,26.20,240534,360.13,2024,11,21,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.035667
3,10034,1191,242,31334.52,11.77,434482,224.64,2025,1,28,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.022388
4,9889,1858,477,15665.67,6.64,42030,165.51,2025,4,28,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.016737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,9853,1673,147,42075.70,25.49,210818,280.99,2024,12,14,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.028518
119996,10128,1709,63,57563.70,16.23,878860,354.61,2024,7,13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.035013
119997,10267,700,274,27549.71,23.82,576756,203.64,2024,6,10,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.019834
119998,10240,1616,106,56967.38,7.75,585138,351.53,2024,12,22,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.034329
119999,9931,770,274,38466.84,27.31,517587,253.84,2024,6,25,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.025560